[Desktop Entry]
_Name=uMatriks
Exec=qmlscene %U uMatriks/Main.qml
Icon=uMatriks/resources/umatriks.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
